<%= nested_form_for @ad, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label "Naziv", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <h3>Naslov oglasa</h3>
  <div class="control-group">
    <%= f.label "Naslov", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
    <%= f.label "Link naslova", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>
 
   <%= f.fields_for :images do |img| %>
      <%= img.label "Slika", :class => 'control-label' %>
      <div class="controls">
        <%= img.file_field :file, :class => 'file_field' %>
      </div>
      <div class="controls">
        <%= img.hidden_field :position, :value => 0, :class => 'text_field' %>
      </div>
    <% end %>

  
  <h3>Dodaj oglase</h3>
  <div class="control-group">
  <%= f.fields_for :items do |i| %>

    <%= i.label "Naslov oglasa", :class => 'control-label' %>
    <div class="controls">
      <%= i.text_field :title, :class => 'text_field' %>
    </div>
    <%= i.label "Tekst oglasa", :class => 'control-label' %>
    <div class="controls">
      <%= i.text_field :content, :class => 'text_field' %>
    </div>
    <%= i.label "Link oglasa", :class => 'control-label' %>
    <div class="controls">
      <%= i.text_field :link, :class => 'text_field' %>
    </div>

      <%= i.label "Slika", :class => 'control-label' %>
      <div class="controls">
        <%= i.file_field :file, :class => 'file_field' %>
      </div>

      <%= i.link_to_remove "Cancel", :class => 'btn'%>
      <br />
    <% end %>
  <%= f.link_to_add "Dodaj novi oglas", :items, :class => 'btn btn-primary' %>
  </div>
  
  <h3>Boje oglasa</h3>
    <div class="control-group">
    <%= f.label "Pozadina", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_bg, :class => 'text_field color' %>
    </div>
    <%= f.label "Mouseover", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_bg_hover, :class => 'text_field color' %>
    </div>
    </div>
    <div class="control-group">
    <%= f.label "Link", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_link, :class => 'text_field color' %>
    </div>
    <%= f.label "Mouseover", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_link_hover, :class => 'text_field color' %>
    </div>
    </div>
    <div class="control-group">
    <%= f.label "Text", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_text, :class => 'text_field color' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Border", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :colour_border, :class => 'text_field color' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ads_path, :class => 'btn' %>
  </div>
<% end %>

