<%= form_for @ad, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <% n = 0 %>
  <div class="control-group">
  <%= f.fields_for :images do |i| %>
    
      <div class="controls">
        <%= i.hidden_field :position, :value => n, :class => 'text_field' %>
      </div>
      
      <%= i.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= i.file_field :file, :class => 'file_field' %>
      </div>
      
      
      
      
      <% n = n+1 %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ads_path, :class => 'btn' %>
  </div>
<% end %>
