<% title "Item" %>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>
<p>
  <strong>Link:</strong>
  <%= @item.link %>
</p>
<p>
  <strong>Ad:</strong>
  <%= @item.ad_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.file.crop.url %>
</p>

<p>
  <%= link_to "Edit", edit_item_path(@item) %> |
  <%= link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", items_path %>
</p>
