<%= form_for @image, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </p>
  <p>
    <%= f.label :ad_id %><br />
    <%= f.number_field :ad_id %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </p>
  <p><%= f.submit %></p>
<% end %>
