<% title "Image" %>

<p>
  <strong>Position:</strong>
  <%= @image.id %>
</p>
<p>
  <strong>Header:</strong>
  <%= image_tag @image.file.header.url %><br />
</p>
<p>
  <strong>Croped:</strong>
  <%= image_tag @image.file.crop.url %><br />
</p>
<p>
  <strong>Ad:</strong>
  <%= @image.ad_id %>
</p>

<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", images_path %>
</p>
